@font-face {
    font-family: strokeOrder;
    src: url("/kanji-stroke-order.ttf");
}

@font-face {
    font-family: regularJP;
    src: url("/NotoSerifJP-Regular.otf");
}

.practiceText {
    font-size: 30px;
    font-family: regularJP;
}

.topWord {
    font-family: strokeOrder;
    font-weight: normal;
    font-size: 120px;
}

.spoiler {
    background: #333 !important;
    border-radius: 0.2em !important;
    color: rgba(0,0,0,0) !important;
    cursor: pointer !important;
    display: inline-block !important;
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    transition: color .25s,background-color .25s !important;
}