@font-face {
    font-family: strokeOrder;
    src: url("/kanji-stroke-order.ttf");
}

@font-face {
    font-family: regularJP;
    src: url("/NotoSerifJP-Regular.otf");
}

.practiceText {
    font-size: 30px;
    font-family: regularJP;
}

.topWord {
    font-family: strokeOrder;
    font-weight: normal;
    font-size: 120px;
}